@charset "utf-8";
/* CSS Document */

* {
/*清除所有的默认样式*/
margin: 0;
padding: 0;
font-size: 12px;
}

body{
	background-color: #F5F5F5;
}

.fixed_div {
    position:fixed;
    right:0px;
    width:40px;
    height:100%;
    background:#000000;
}

.sidebar {
	width: 40px;
}

.sidebar div {
	width: 20px;
}

.sidebar_mao {
	height: 80px;
	margin-top: 30px;
}
.sidebar_che {
	height: 80px;
	margin-top: 30px;
}

.sidebar_che p {
	font-size: 15px;
	font-family: 微软雅黑;
	margin-left: 10px;
	vertical-align: center;
}

.sidebar_xin {
	height: 50px;
	margin-top: 15px;
}

.sidebar_yuan {
	height: 50px;
}

.sidebar_cong {
	height: 50px;
}

.sidebar_zhong {
	height: 50px;
}

.sidebar_bi {
	height: 50px;
	margin-top: 40px;
}

.sidebar_erweima {
	height: 50px;
}

.sidebar_top {
	height: 50px;
}

.sidebar img{
	margin-left: 10px;
}

.top{
	width: 100%;
	height: 27px;
	background: url(../image/site/myphoto/top_bg.jpg) repeat-x;
}

.top_content {
	margin: 0px auto;
	width: 1200px;
	line-height: 27px;
}
.top_left{
	width: 500px;
	/*margin: 0 20px 10px;*/
	float: left;
}

.top_right{
	width: 700px;
	margin: 0 auto;
	float: right;
}

.top_left li{
	list-style: none;
	width: 70px;
	line-height: 27px;
	margin-left: 20px;
	float: left;
}

.top_right li{
	list-style-image: url(../image/site/myphoto/li_bg.gif);
	width: 70px;
	line-height: 27px;/*让文本垂直居中，像素等于外面一层div的像素高度*/
	margin-left: 10px;
	float: right;
}

.top_right>ul li:nth-child(6){
	list-style-image: url(../image/site/newshopcar.png);
}

.top_right>ul li:nth-child(4){
	list-style-image: url(../image/site/phone.png);
}

.top_right>ul li:nth-child(1){
	list-style-image: url(../image/site/daohang.png);
}

.top_left a:link,.top_left a:visited { /*定义超链接的初始状态和访问后的状态*/
	color: #8E8E8E;
	text-decoration:none;/*去超链接的下划线*/
}

.top_right a:link,.top_right a:visited {
	color: #8E8E8E;
	text-decoration:none;
}

/*定义超链接在鼠标悬浮和点击状态*/
.top_left a:hover,.top_left a:active {
	color: #900;
	text-decoration:none;
}

.top_right a:hover,.top_right a:active {
	color: #900;
	text-decoration:none;
}

.wrap {
	width: 100%;
	margin-top: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.logo_content {
	width: 100%;
	min-width:1280px; 
	/*overflow: hidden;*/
}

.logo_left {
	width: 30%;
	/*border: 1px solid red;*/
	float: left;
}

.tianmaowenzhi {
	margin-left: 50px;
	margin-top: 50px;
}


.logo_right {
	width: 60%;
	float: left;
}
.input-group{
	margin-left:30px ;
	display:inline-table;
}

.logo_right input {
	width: 550px;
	height: 45px;
	padding-left: 20px;
	border: 2px solid red;
	margin-top: 50px;
	float: left;
}

.seacher_btn {
	color:#FFFFFF;
	background-color: #FF0036;
	width: 120px;
	height: 43px;
	border: 3px solid;
 	border-color: red;
 	margin-top: 50px;
	float: left;
}

.quickly_sercher li{
	list-style: none;
	float: left;
    margin-left: 30px;
	margin-top: 7px;
}

.quickly_sercher a{
	font-size: 15px;
}


.quickly_sercher li:first-child{
	margin-left: 0px;
}

/*.sort_left{
	width: 300px;
	height: 25px;
	padding-left: 20px;
	border: 1px solid red;
	float: left;
}*/


.sort_middle_list{
	margin-top: 0px;
	width: 100%;
	float: left;
	overflow: hidden;
}

.productlist_top {
	width: 250px;
	/*height: 80px;*/
	overflow: hidden;
	float: left;
}

.cateye {
	margin-left: 70px;
}

.cateye img{
	width: 100px;
}

.shangpinliebiao {
	width: 200px;
	height: 30px;
	background-color: #FF0036;
	margin-left: 47px;
}

.shangpinliebiao img{
	float: left;
}

.shangpinliebiao p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: white;
	font-weight: bold;
	float: left;
}

.sort_middle_content {
	width: 900px;
	float: left;
}

.sort_middle_content img{
	margin-top: 35px;
	float: left;
}

.sort_middle_content li{
	margin-top: 35px;
}

.sort_middle_content li{
	list-style: none;
	margin-left: 25px;
	float: left;
	line-height: 25px;
}
.sort_middle_content a{
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	font-family: "微软雅黑";
	
}
.sort_middle_content a:link,.sort_middle_content a:visited{
	color: #000000;
}
.sort_middle_content a:hover,.sort_middle_content a:active{
	color: red;
}

/*.focusPage {
	
}*/

.sousuo img {
	width: 260px;
	height: 80px;
	padding-left: 80px;
	float: left;
}

.seacher_btn p {
	margin: 0 auto;
	font-size: 2em;
	font-family: 微软雅黑;
	text-align: center;
}

.daohang {

	float: left;
}

.daohang ul li {
	width: 50px;
	line-height: ;
	/*margin-left: 200px;*/
	padding-left: 50px;
	float: left;

}
/********焦点图***********/
.focusPage {
	height: 500px;
	width: 93%;
	margin:0px auto;
	overflow: hidden;
}

.focusPage img {
	width: 1255px;
	height: 500px;
}

/**************商品列表**************/
.product_list {
	overflow: hidden;
	position: relative;
	z-index: 9999;
	/*background: rgba(105,105,105, 0.5);*/
}

.pic {
	z-index: -1;
	position: absolute;
}

.product_list_left img {
	width: 15px;
	height: 15px;
}

.product_table{
	width: 200px;
	/*border: 1px solid red;*/
	background: rgba(115,115,115, 0.5);
	float: left;
}

.product_table td{
	font-family: "微软雅黑";
	font-size: 18px;	
	color: white;
}

.product_table td:hover,.product_table td:active {
	color: red;
	background-color: white;
}

.product_hidden_table {
	width: 800px;
	height: 420px;
	/*border: 1px solid red;*/
	background-color: #F5F5F5;
	overflow: hidden;
	float: left;
	
}

.product_detail {
	/*width: 400px;
	height: 550px;*/
	text-align: center;
	background-color: white;
	overflow: hidden;
	float: left;
	border-collapse: collapse;
	
}

.product_detail td {
	width: 80px;
	height: 40px;
}

.product_detail tr>td:first-child {
	font-weight: bold;
}

.shop_logo {
	/*width: 200px;
	margin-left: 100px;*/
	overflow: hidden;
	height: 550px;
	text-align: center;
	background-color: white;
	float: right;
	border-collapse: collapse;
}

.shop_logo td {
	width: 110px;
	height: 40px;
}

.shop_logo img {
	width: 70px;
	height: 40px;
}

.second_top {
	width: 100%;
	overflow: hidden;
}

.dinwei {
	width: 400px;
	/*border: 1px solid;*/
	margin: 0 auto;
}

.dinwei img {
	float: left;
}

.dinwei p {
	font-family: 微软雅黑;
	font-size: 1.5em;
	float: left;
}

.second_content {
	width: 100%;
	height: 800px;
	border: 1px solid;
	/*overflow: hidden;*/
	border-color: red;
}

.first_row {
	width: 1000px;
	margin:0px auto;
	overflow: hidden;
}

.second_row {
	width: 1000px;
	margin: 0px auto;
	margin-top: 10px;
}

.first_row div {
	width: 180px;
	height: 200px;
	border: 1px solid;
	
	margin-left: 20px;
	float: left;

}

.second_row div {
	width: 310px;
	height: 200px;
	border: 1px solid;
	
	margin-left: 20px;
	float: left;
}
